<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo modi officiis quos ipsa corrupti debitis itaque. Nisi deleniti laudantium, sapiente ipsa quia aperiam unde fugiat quidem accusamus impedit eos assumenda.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo modi officiis quos ipsa corrupti debitis itaque. Nisi deleniti laudantium, sapiente ipsa quia aperiam unde fugiat quidem accusamus impedit eos assumenda.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo modi officiis quos ipsa corrupti debitis itaque. Nisi deleniti laudantium, sapiente ipsa quia aperiam unde fugiat quidem accusamus impedit eos assumenda.</p>
    </div>

    <%- include('./partials/foot.ejs') %>

    <!-- Javascript File -->
    <script src="app.js"></script>
</body>
</html>