body{
    background-color: #90C7E3;
    background: linear-gradient(to bottom, #FFFFFF, #90C7E3);
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-left: 2em;
    padding-right: 2em;
    display: block;
}


h1{
    background-color: #002171;
    color:  #ffffff;
    line-height: 200%;
    background-image: url("sunset.jpg");
    background-repeat: no-repeat;
    height: 72px;
    background-position: right;
    text-align: center;
}

nav{
    font-weight: bold;
    color: #BBDEFB;
    text-align: center;
    word-spacing: 230px;
    font-size: 23px;
}

nav a {
    text-decoration: none;
}

h2{
    color: #1976D2;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto; */
    white-space:pre-line;
    font-size: 20px;
}

form {
    display: grid;
    width: 60%;
}

.column1 {
    grid-column: span 2;
}

#nights {
    width: 30%;
}

#comments {
    padding: 3em;
}

#submit {
    width: 30%;
}

footer{
    font-size: .70em;
    font-style: italic;
    padding: 1em;
    text-align: center;
}

.shop {
    margin: 1em;
    background-color: #f4f4f4;
}

.img {
    float: right;
    padding: 1em;
}

.form {
    width: 150px;
    float: right;
    clear: right;
}

.column {
    float: left;
    width: 50%;
}

.resort{
    color: #1976D2;
    font-size: 1.2em;
}

.wrapper{
    background-color: #FFFFFF;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    min-width: 960px;
    max-width: 2048px;
}

#shophero {
    background-image: url("./psunset.jpg");
    height: 300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}