body {
  overflow: hidden;
}

nav {
  text-align: center;
}


h1 {
  position: absolute;
  word-spacing: 7px;
  font-size: 50px;
  /* aligning elements in the center */
  left: 50%;
  top: 15%;
  text-align: center;
  text-decoration: underline;
  transform: translate(-50%, -50%);
}

p {
  position: absolute;
  font-size: 22px;
  word-spacing: 2px;
  /* aligning elements in the center */
  left: 50%;
  top: 28%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 600px;
}

h2 {
  position: absolute;
  word-spacing: 7px;
  font-size: 40px;
  /* aligning elements in the center */
  left: 50%;
  top: 37%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.cert-info {
  position: absolute;
  font-size: 30px;
  left: 55%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 600px;
}

.cert-info a {
  color: black;
  text-decoration: none;
}

.cert-info a:hover { color: red; }

.aws {
  position: absolute;
  left: -15%;
  top: 16%;
  width: 15%;
}

.security {
  position: absolute;
  left: -15%;
  top: 45%;
  width: 15%;
}

.network {
  position: absolute;
  left: -15%;
  top: 74%;
  width: 15%;
}

.projects-info {
  position: absolute;
  font-size: 25px;
  left: 55%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 600px;
}

.home-info {
  position: absolute;
  font-size: 30px;
  left: 55%;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 600px;
}

/* try to align center for all screen sizes */
.skill-info {
  position: absolute;
  text-align: center;
  font-size: 30px;
  left: 17%;
  top: 22%;
  width:70%; 
}

div.skill-info {
  display: block;
}

table {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.contact-info {
  position: absolute;
  /* display: block; */
  font-size: 30px;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 600px;
}

div.contact-info {
  display: block;
  text-align: center;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.input {
  font-size: 18px;
}

#name-input, #email-input {
  width: 150px;
}

#message-input {
  overflow-wrap: break-word;
  inline-size: 200px;
  height: 75px;
  width: 200px;
}

#send {
  font-size: 18px;
  width: 60%;
  height: 30px;  
}


.box1, .box2, .box3, .box4, .box5 {
  position: absolute;
  top: 0%;
  width: 20%;
  height: 25%;
  font-size: 50px;
}

.box1 { left: 0%; background-color: #1B98E0; }
.box2 { left: 20%; background-color: #7bcdba; }
.box3 { left: 40%; background-color: #1B98E0; }
.box4 { left: 60%; background-color: #7bcdba; }
.box5 { left: 80%; background-color: #1B98E0; }

.box1:hover { background-color: darkcyan; }
.box2:hover { background-color: darkcyan; }
.box3:hover { background-color: darkcyan; }
.box4:hover { background-color: darkcyan; }
.box5:hover { background-color: darkcyan; }



.oval {
  position: absolute;
  top: 10%;
  left: -35%;
  width: 170%;
  height: 130%;
  border-radius: 50%;
  background-color: #C8A2C8;
}

footer {
  position: absolute;
  font-size: 18px;
  text-align: center;
  left: 50%;
  top: 92%;
  transform: translate(-50%, -50%);
}

footer a {
  color: rgb(0, 0, 0);
}