body {
    background-color: #90C7E3;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

main {
    padding-left: 2em;
    padding-right: 2em;
    display: block;
    float: right;
    width: 730px;
    height: auto;
    position: relative;
    bottom: 32px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
}


h1{
    background-color: #002171;
    color:  #ffffff;
    padding: 1em;
    font-size: 1.5em;
    text-align: center;
}

nav{
    background: linear-gradient(to bottom, #FFFFFF, #90C7E3);
    color: #FFFFFF;
    font-size: 1.2em;
    height: 700px;
    bottom: 32px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 1em;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
}

nav li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    border-bottom: 1px;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color:  #5C7FA3;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: #A52A2A;
}

h2{
    color: #1976D2;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
    font-size: .70em;
    font-style: italic;
    padding: 1em;
    text-align: center;
}

.resort{
    color: #1976D2;
    font-size: 1.2em;
}

.wrapper{
    background-color: #FFFFFF;
    width: 80%;
    min-width: 960px;
    max-width: 2048px;
}

section {
    padding-left: .5em;
    padding-right: .5em;
}

.mobile {
    display: inline;
}

.desktop {
    display: none;
}

#homehero {
    background-image: url("./coast.jpg");
    position: relative;
    float: right;
    width: 800px;
    height: 300px;
    background-size: 200% 100%;
    background-repeat: no-repeat;
}